[submodule "external/armadillo"]
	path = external/armadillo
	url = git@github.com:conradsnicta/armadillo-code.git
	branch = 8.500.x
	ignore = dirty
[submodule "external/scons"]
	path = external/scons
	url = git@github.com:SCons/scons.git
	branch = rel_3.0.1
	ignore = dirty
[submodule "external/args"]
	path = external/args
	url = git@github.com:Taywee/args.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "external/Eigen"]
	path = external/Eigen
	url = https://github.com/libigl/eigen
[submodule "external/inih"]
	path = external/inih
	url = git@github.com:jtilly/inih.git
