[submodule "external/armadillo"]
	path = external/armadillo
	url = git@github.com:conradsnicta/armadillo-code.git
	branch = 8.500.x
[submodule "external/scons"]
	path = external/scons
	url = git@github.com:SCons/scons.git
	branch = rel_3.0.1
